/* Colors */
@pickled-bluewood: #2D3E50;
@athens-gray: #eceff4;
@downey: #69cfd1;
@keppel: #32a8a8;
@apricot: #ef8680;
@white: #ffffff;

/* Instances */
@navbar-color: @pickled-bluewood;
@background-color: @athens-gray;
@section-color: @white;
@progress-bar-color: @downey;
@header-color: @pickled-bluewood;
