.main-content {
	section {
		background-color: @section-color;
		padding: 24px;
		margin-bottom: 25px;
		position: relative;
		box-shadow: none;
		background-color: white;
	}

	.progress {
		position: absolute;
		top: 90%;
		width: 100%;
		left: 0;
	}
}
