.main-content {
	section {
		background-color: @section-color;
		padding: 24px;
		position: relative;
		box-shadow: none;
	}

	.progress {
		position: absolute;
		top: 90%;
		width: 100%;
		left: 0;
	}

	.main-row {
		height: 100%;
		padding-bottom: 85px;
	}

	.information-container {
		height: 27%;
		margin-bottom: 3%;
	}

	.challenges-container {
		height: 70%;
	}
}
