<div class="container main-content" ng-style="{'height': home.containerHeight}">
	<div class="row main-row">
		<div class="col-md-8 fill">
			<section class="information-container">
				<div class="col-md-3 fill">
					<img src="http://placehold.it/90x90" alt="avatar-img" class="img-circle img-responsive">
				</div>
				<div class="col-md-9 fill">
					<h2>{{ home.user.attributes.name }}</h2>
					<p>{{ home.books.read.length }} books read</p>
					<p ng-if="home.books.reading.length">Currently reading:
						<span ng-repeat="item in home.books.reading">{{item.title}} - {{item.author}}{{$last ? '' : ' | '}}</span>
					</p>
				</div>
				<div class="progress">
					<div class="progress-bar" style="width: 70%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
			</section>
			<section class="challenges-container">
				<ul class="nav nav-pills challenges-nav" ng-init="completed = true">
					<li ng-class="{ 'active': completed }" ng-click="completed = true">Completed</li>
					<li ng-class="{ 'active': !completed }" ng-click="completed = false">Pending</li>
				</ul>
				<div class="challenges-list">
					<div class="challenge-row" ng-repeat="challenge in home.challenges | filter:challenge.completed:completed">
						<h4>{{challenge.description}}</h4>
						<p>3 days ago</p>
					</div>
				</div>
			</section>
		</div>
		<div class="col-md-4 fill">
			<section class="books-container fill">
				<div class="books-header">
					<b>Read books</b>
					<span class="pull-right">{{ home.books.read.length }} books</span>
				</div>
				<div class="books-list">
					<div class="books-row" ng-repeat="item in home.books.read" ng-if="home.books.read.length">
						<h4>{{ item.title }}</h4>
						<p>{{ item.author }}</p>
					</div>
					<div class="books-row" ng-repeat="item in home.books.read" ng-if="!home.books.read.length">
						<h4>You should start reading...</h4>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="users-row">
		<div class="col-xs-1 col-md-1" ng-repeat="friend in home.friends | limitTo: 11">
			<img ng-src="{{friend.picture}}">
			<span>{{ friend.progress }}%</span>
		</div>
	</div>
</div>
